@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.bg1 {
    background-color: #07beb8ff;
}

.bg-2 {
    background-color: #3dccc7ff;
}

.bg-3 {
    background-color: #68d8d6ff;
}

.bg-4 {
    background-color: #9ceaefff;
}

.bg-5 {
    background-color: #c4fff9ff;
}

* {
    font-family: 'Poppins', sans-serif;
}

body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('../img/Gedung.jpg');
    /* background-image: url('../img/Gedung.jpg'); */
    min-height: 500px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.hero {
    height: 100vh;
    display: flex;
    align-items: center;
}

.hero-daftar {
    /* height: 100vh; */
    display: flex;
    align-items: center;
    padding-top: 100px;
    padding-bottom: 100px;
}

.logo_nav {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 50%;
    background-color: root(--tiffany);
}

.wikrama-highlight {
    font-weight: bold;
    font-size: large;
}

.img-jurusan{
    overflow: hidden;
}

.lab_image{
    height: 250px;
    width: 100%;
    transition: all 0.3s;
}

.lab_image:hover{
    transform: scale(1.3) rotate(5deg);
    transition: all 0.3s;
}

nav{
    background-color: #fff;
    transition: all 0.5s;
}

nav.transparent{
    background-color: rgba(255, 255, 255, 0);
    color: #fff;
    transition: all 0.5s;
}

nav .nav-link, nav .navbar-brand{
    color: #000 !important;
}

nav.transparent .nav-link, nav.transparent .navbar-brand{
    color: #fff !important;
}

.highlihgt-text{
    padding-bottom: 10px;
    color: #07beb8ff !important;
    border-bottom: 2px solid rgba(7, 190, 184, 0.467);
    width: 30% ;
}

@media only screen and (max-width: 600px) {
    nav.transparent{
        background-color: #9ceaefff;
        color: #000;
        transition: all 0.5s;
    }
    nav.transparent .nav-link, nav.transparent .navbar-brand{
        color: #000 !important;
    }
    .highlihgt-text{
        width: 100% ;
    }
  }